@use "../abstracts" as *;

.split-screen-signup{
    width: 40%;
    display: none;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) ,
    rgba(255,255,255,0.2) ,
    rgba(255,255,255,0.1) ,
    rgba(255,255,255,0) );

    position: relative;
    @include rounded-corners(0, 2.5rem, 2.5rem, 0);

    @include break-point("medium", "up") {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        @include rounded-corners(0, 2.5rem, 2.5rem, 0);
        @include break-point("medium", "up") {
            object-fit: cover;
            object-position: 50% 60%;
        }

        filter: brightness(80%);
        -webkit-filter: brightness(80%);
    }
}