@use '../../abstracts' as *;


.home-container {
    font-weight: 500;
    padding-top: 3.75rem;
    
    width: 100%;
    @include break-point("medium", "up") {
      padding: 5.5rem 0rem 5rem 0rem;
    }
}