@use '../../../abstracts/' as *;


//table styles

.my-table{
    padding: 1rem;
    // background-color: var(--clr-shadow-glassy-shadow);
    @include rounded-corners(.5rem,.5rem,.5rem,.5rem);
    border: 1px solid var(--clr-primary-mainPurple);
    text-align:center;
    background-image: linear-gradient(90deg,
    var(--clr-primary-secondPurple),
    var(--clr-neutral-lightGrayishCyan));
    table-layout: fixed;
    margin-bottom: 1rem;
    &.with-query {
      @include rounded-corners(0rem, .5rem, .5rem, .5rem);
    }

}

Td,Tr,Th{
    padding: 1rem 0;
    
}
td {
    overflow: auto;
    padding: 1rem .5rem;
}

.my-great-button{

    color: var(--clr-primary-mainBlue);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    &:hover{
        color:white;
        transition: all ease-in-out .3s;
    }
   
}

a.my-great-button{
    color: var(--clr-primary-mainBlue);
}