@use "../../../abstracts/" as *;

.view-appointment-animator {
    @include break-point("medium", "up") {
        justify-content: center;
        gap: 16px;
    }
}
.view-appointment-wrapper {
    position: relative;
    padding-bottom: 2rem;

    @include break-point("medium", "up") {
        padding-bottom: 3rem;
    }

    .pag {
        bottom: 0rem;

        i {
            color: var(--clr-primary-mainBlue);

            &:hover {
                color: var(--clr-primary-mainPurple);
                cursor: pointer;
            }
        }

        span {
            color: var(--clr-shadow-dark-shadow);
            font-weight: 600;
            transition: 0.5s ease color;

            &:hover {
                color: var(--clr-primary-mainPurple);
                cursor: pointer;
            }
        }

        @include break-point("medium", "up") {
            font-size: 1.2rem;
        }

        .active {
            color: var(--clr-primary-mainPurple);
            transform: scale(1.2);
        }
    }
}
