@use "../abstracts" as *;


.input-wrapper {
    width: 80%;
    margin: auto;

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 0.5rem;
        @include rounded-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        border: 1px solid var(--clr-shadow-light-gray);
        outline-color: var(--clr-accent-logoBlue);
        resize: vertical;
        @include break-point("medium", "up") {
            width: 50%;
        }
    }

    @include break-point("medium", "up") {
        width: 95%;
        justify-content: space-around;
    }
}

.radio-wrapper {
    width: 50%;

    input {
        width: fit-content;
    }
}

input[type="file"] {
    display: none;
}

select option:hover {
    font-size: 20px;
}

