@use "../../abstracts" as *;



//input in input wrapper for the sp edit user & edit pet
.radio-wrapper{
    input{
        transition: .5s ease all;
        &:hover{
            cursor:pointer;
        }
    }
}
/* HIDE RADIO */
input.radio-img { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

}
  
  /* IMAGE STYLES */
input.radio-img + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
input.radio-img:checked + img {
    outline: 2px solid var(--clr-shadow-dark-shadow);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform ease 0.5s;
    -webkit-transition: transform ease 0.5s;
    -moz-transition: transform ease 0.5s;
    -ms-transition: transform ease 0.5s;
    -o-transition: transform ease 0.5s;
}


.pet-icon{
    width: 3rem;
    height: 3rem;
    @include rounded-corners();
}
.low-op {
    opacity: 0.8;
}


.split-screen-registerpet{
    width: 40%;
    display: none;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) ,
    rgba(255,255,255,0.5) ,
    rgba(255,255,255,0.4) ,
    rgba(255,255,255,0.3) ,
    rgba(255,255,255,0.2) ,
    rgba(255,255,255,0) );

    position: relative;
    @include rounded-corners(0, 2.5rem, 2.5rem, 0);

    @include break-point("medium", "up") {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        @include rounded-corners(0, 2.5rem, 2.5rem, 0);
        @include break-point("medium", "up") {
            object-fit: cover;
            object-position: 50% 40%;
        }

        filter: brightness(80%);
        -webkit-filter: brightness(80%);
    }
}

.color-tag {
    border: 1px solid var(--clr-primary-mainBlue);
    width: 4rem;
    margin: .5rem .5rem;
    transition:.5s ease all;
    @include rounded-corners(.5rem, .5rem, .5rem, .5rem);
    @include break-point('medium', 'up') {
        width: 5rem;
    }
    &:hover {
        cursor: pointer;

    }
    &.color-selected {
        background-color: var(--clr-primary-mainBlue);
        color: white;
    }
    p {
        padding: .25rem .5rem;

        text-align: center;
    }
}