@use "../../abstracts/" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;

  // &_edit {
  //   padding-top: 2rem;
  // }
  .modal-container {
    margin: auto;
    padding: 3rem 1rem;
    width: 40%;
    min-width: 15rem;
    max-width: 30rem;
    background-color: white;
    border: 4px solid black;

    @include rounded-corners(3rem, 3rem, 3rem, 3rem);
    @include break-point("medium", "up") {
      padding: 3rem;

    }
    &__error {
      border-color: rgb(255, 9, 9);
    }
    &__check {
      border-color: var(--clr-primary-mainPurple);

    }
    &__edit {
      border-color: var(--clr-primary-mainPurple);

    }
    &__success {
      border-color: rgb(16, 117, 38);
    }

    .modal-header {
      font-weight: bold;
      &__error {
        color: red;
      }
      &__success {
        color: rgb(27, 187, 62);
      }
    }
    .modal-body {
      text-align: center;
      width: 100%;

      span {
        font-weight: bold;
        color: var(--clr-primary-mainBlue);
      }
      p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 7rem;
      }
      textarea {
        width: 100%;
        padding: .5rem;
        resize: vertical;
        max-height: 10rem;
        @include break-point('medium', 'up') {
          max-height: 20rem;
        }
        @include rounded-corners(.5rem, .5rem, .5rem, .5rem);
      }
    }
    .modal-footer {
      width: 100%;
      &__check {
        display: flex;
      }
      &__edit {
        display: flex;
      }
      .modal-button {
        display: block;
         margin: auto; 
         padding: .5rem;
         color: var(--clr-primary-mainBlue);
         transition: all ease .5s;
         min-width: none;

         @include break-point("medium", "up") {
          min-width: 5.9rem;

    
        }
         &:hover {
           background-color: rgb(223, 222, 222);
         }
         &__confirm {
           color: white;
           background-color: var(--clr-primary-mainPurple);
         }
      }
    }
    
  }
}
