@use '../../../../abstracts/' as *;


.small-table-header{
    background-color: var(--clr-shadow-glassy-shadow);
    color: black;
    @include rounded-corners(.5rem,.5rem,.5rem,.5rem);
    text-align: center;
    padding: 1rem;
    width: 120px;
    // margin: 1rem;
}

.search-bar-container{
    padding: 1rem;

    label{
        font-size:1.1rem;
    }
}

.search-bar{
    border-color: var(--clr-primary-mainBlue);
    padding: .2rem;
}

.edit-modal{

    height: 140px;

    .modal-container{
        
    .btn-rec-purple{
        padding: .5rem;
        width: 120px;
        margin-right: 1rem;
    }

    }
}



.my-table{
    padding: 1rem;
    background-color: var(--clr-shadow-glassy-shadow);
    @include rounded-corners(.5rem,.5rem,.5rem,.5rem);
    border: 1px solid var(--clr-primary-mainPurple);
    text-align:center;
}

Td,Tr,Th{
    padding: 1rem 0;
}