@use '../../abstracts/' as *;

.staff-panel-wrapper {
    background-image:linear-gradient(
        120deg,
        whitesmoke,
        rgba(255, 255, 0, 0.24)
       
    );
  // rgba(255, 0, 0, 0.39)
 
    padding: 5rem 1rem 0 1rem;
    @include break-point("medium", "up") {
      padding: 9rem 1.5rem 0 1.5rem;
    }



  }

  