@use '../../../../abstracts/' as *;



// for the modal
.add-training-modal-background{
    background-color: var(--clr-shadow-glassy-shadow);
    position: relative;
    text-align: center;
    width: 90%;
    max-width: 400px;
    min-width: 270px;
    box-shadow: 5px 10px 10px rgb(131, 131, 131);
    margin-bottom: 1rem;

    button{
        margin: 1rem 0;
     }
}

//    
// }

// .update-style{
//     text-align: center;

//     input{
//         width: 50%;
//     }
// }