@use "../abstracts" as *;

.button-wrapper {
  width: 80%;
  padding: 1rem 0;

  @include break-point("medium", "up") {
    width: 100%;
  }
}
.btn-r {
  @include rounded-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
  width: 100%;
  padding: 0.5rem;
  border: white solid 1px;
  color: white;
  text-align: center;
  &:not(.btn-r-outlined):hover {
    cursor: pointer;
    opacity: 0.8;
    transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
  }

  @include break-point("medium", "up") {
    width: 45%;
    padding: 0.75rem 0.5rem;
  }
}

.btn-r-dark {
  background-color: var(--clr-shadow-dark-shadow);
}
.btn-r-purple {
  background-color: var(--clr-primary-mainPurple);
}

.btn-r-outlined {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;

  @include break-point("medium", "up") {
    width: 50%;
    padding: 0.75rem 0.5rem;
  }
}
.btn-r-outlined-blue {
  @extend .btn-r-outlined;
  border: 2px solid var(--clr-primary-secondBlue);
  &:hover {
    border-color: var(--clr-primary-mainBlue);
  }
}
.btn-r-outlined-purple {
  @extend .btn-r-outlined;
  border: 2px solid var(--clr-primary-mainPurple);
  &:hover {
    // border-color: var(--clr-primary-secondPurple);
    background-color: var(--clr-primary-mainPurple);
    color: white;
  }
}
.btn-s {
  @extend .btn-r-outlined-purple;
  @include rounded-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
  width: 35%;
}
.btn-rec {
  padding: 1rem;
  font-weight: bold;
  border: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
  box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.748);

  &:hover {
    cursor: pointer;
  }

  @include break-point("medium", "up") {
    width: 30%;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
  }
}

.btn-rec-purple {
  @extend .btn-rec;
  background-color: var(--clr-primary-mainPurple);
  transition: ease 0.5s all;
  &:hover{
    background-color:#905192;
    cursor: pointer;
  }
}

.btn-rec-blue{
  @extend .btn-rec;
  background-color: var(--clr-primary-mainBlue);
  transition: ease 0.5s all;
  &:hover{
    background-color:var(--clr-primary-secondBlue);
    cursor: pointer;
  }
}