@use "../../../abstracts/" as *;

h4 {
  border-bottom: solid 1px grey;
  padding-bottom: 0.5rem;
  @include break-point("medium", "up") {
    font-size: 1.5rem;
  }

}
.profile-animation-wrapper {
  width: 100%;
  @include break-point("medium", "up") {
    width: 68%;
  }
}
