@use "../../abstracts/" as *;

.adoption-ad-wrapper {
 
    background-image: linear-gradient(
        120deg,
        rgb(228, 224, 224),
        var(--clr-primary-secondBlue),
        var(--clr-primary-secondPurple)
    );
    margin-top: 4rem;

    .pet-basic-info-wrapper {
        width: 100%;
        flex-direction: column-reverse;

        @include break-point("medium", "up") {
            flex-direction: row-reverse;
            gap: 5rem;
        }

        .intro {
            font-weight: bold;
            color: rgb(41, 41, 41);

            .intro-hi {
                font-size: 1.5rem;
                color: var(--clr-primary-mainPurple);

                @include break-point("medium", "up") {
                    font-size: 2rem;
                }
            }

            .pet-name {
                font-size: 3rem;
            }

            .pet-breed {
                @include break-point("medium", "up") {
                    font-size: 1.5rem;
                }
            }
        }

        .pet-info {
            background-color: rgba(28, 27, 27, 0.535);
            box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
            padding: 2rem 1rem;

            label {
                color: white;
            }
            p {
                color: rgb(235, 218, 218);
            }

            @include break-point("medium", "up") {
                order: 2;
                align-self: center;
                padding: 4rem 2rem;
                gap: 2rem;
            }
        }

        .pet-image-container {
            position: relative;

            .adopt-btn {
                position: absolute;
                text-transform: lowercase;
                background-color: rgba(255, 255, 255, 0.268);
                color: white;
                transition: ease 0.5s all;
                letter-spacing: 0.2rem;
                padding: 0.6rem;
                width: 43%;
                bottom: 5%;
                left: 10%;

                &:hover {
                    cursor: pointer;
                    color: white;
                    background-color: var(--clr-primary-mainBlue);
                    transform: scale(1.1);
                }
            }

            img {
                width: 18.125rem;
                height: 22rem;
                box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
              //   @include break-point("medium", "up") {
              //     flex-direction: row; *****************************************
              // }
            }
        }
    }
}

//pet training and adoption post text (adopt story)
.pet-story {
    margin: auto;

    h2 {
        border-bottom: 3px solid var(--clr-shadow-gray-shadow);
        font-size: 2rem;
    }

    @include break-point("medium", "up") {
        flex-direction: row;
    }

    .adopt-story,
    .training-story {
        flex: 1;
        align-items: center;
    }

    .adopt-story {
        p {
            max-width: 25rem;

            @include break-point("medium", "up") {
                font-size: 1.2rem;
            }
         
        }
    }

    .training-story {
        label {
            font-weight: bold;
        }

        label,p{
            
            @include break-point("medium", "up") {
                font-size: 1.2rem;
            }
        }
    }
}

// commenting area things

.comments-area-wrapper {
    max-width: 57rem;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
    background-color: var(--clr-shadow-glassy-shadow);

    @include break-point("medium", "up") {
        flex-direction: row;

        .leave-comment-wrapper,
        .all-comments-wrapper {
            flex: 1;
        }
    }

    .leave-comment-wrapper {
        padding: 1rem;
        width: 100%;
        max-width: 18.75rem;
        textarea {
             width: 100%;
            padding: 0.5rem;
            @include rounded-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
            border: 2px solid var(--clr-primary-mainBlue);
            box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
            resize: vertical;

            @include break-point("medium", "up") {
                padding: 1rem;
                font-size: 1.1rem;
            }


        }

        .btn-rec-purple {
            width: 30%;
            padding: 0.7rem;
        }
    }

    .all-comments-wrapper {
        padding: 1rem;

        .single-comment-wrapper {
            padding: 0.5rem 1rem;
            background-color: var(--clr-primary-secondPurple);
            min-width: 14rem;
            max-width: 27rem;
            @include rounded-corners(1rem, 0, 1rem, 0);
            border: 2px solid rgba(0, 0, 0, 0.775);

            i {
                margin-right: 0.5rem;
            }
        }
    }
}
