@use "../../abstracts/" as *;


.adoption-ad-wrapper{

   background-image: linear-gradient(120deg,rgb(228, 224, 224), var(--clr-primary-secondBlue) , var(--clr-primary-secondPurple));
    margin-top: 4rem;

    .pet-basic-info-wrapper {

        flex-direction: column-reverse;

        @include break-point("medium", "up"){
           flex-direction: row-reverse;
          }

        .intro{

            @include break-point("medium", "up"){
              order: 2;
            }
        
            font-weight: bold;
            color: rgb(41, 41, 41);
        
            .intro-hi{
                font-size: 1.5rem;
                color: var(--clr-hovered-hdark-blue);
            }
            
            .pet-name{
                font-size: 3rem;
            }
        }


        .pet-info{
            background-color: rgba(28, 27, 27, 0.535);
            box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
            padding: 2rem 1rem;

            label{
                color: white;
            }
            p{
                color: rgb(235, 218, 218);
            }

            @include break-point("medium", "up"){
                order: 2;
                align-self: center;
                padding: 4rem 2rem;
                gap: 2rem;
            }
        }

        .pet-image-container{

            img{
                width: 90%;
                max-width: 20rem;
                box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
            }

        }
       
    }

}



.pet-story{

    padding: 0 1rem;
 
}




// commenting area things 

.comments-area-wrapper{
    padding: 1rem 0;
    background-color: var(--clr-shadow-glassy-shadow);

 .leave-comment-wrapper{
    padding: 1rem;
     textarea{
         padding: 0.5rem;
         @include rounded-corners(0.5rem,0.5rem,0.5rem,0.5rem);
         border: 2px solid var(--clr-primary-mainBlue);
         box-shadow: -8px 7px 0px 0px rgba(0, 0, 0, 0.775);
         resize: vertical;

     }

     .btn-rec-purple{
         width:35%;
         padding: .7rem;
     }
 }

 .all-comments-wrapper{
    padding: 1rem;

    .single-comment-wrapper{
        padding: 1rem;
        background-color: var(--clr-primary-secondPurple);
        @include rounded-corners(1rem,0,1rem,0);
        border: 2px solid rgba(0, 0, 0, 0.775);

        i{
            margin-right: .5rem;
        }

    }

 }
}