@use "../../../abstracts/" as *;



.adoption-ads-header{

    margin-top:1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.316);
    @include rounded-corners(0.5rem,0.5rem,0.5rem,0.5rem);

    p{
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--clr-primary-mainBlue);
    }



}


.filter-container{

    .filter-item{

        color:rgb(72, 71, 71);

        label{
      
            text-transform: uppercase;
        }
        
        select{
            width: 12.5rem;
           padding:0.5rem 1rem;
           border: 2px solid var(--clr-shadow-light-gray);
          
         
           
           &:focus{
              outline-color: var(--clr-primary-mainPurple);
           }



        }
    }
}