// here we can put all the colors that we will end up using

$page-1: (

  primary: (
  "mainPurple":#a364a5, //
  "mainBlue": #119b9d, //
  "secondPurple": #d3b1d1,// 
  "secondBlue": #7fdadb //
  ),
  accent: (
    "logoBlue":#46b6c2,
  ),
  neutral: (
    
    "lightGrayishCyan2":hsl(189, 41%, 97%),
    "lightGrayishBlue":#caf0d8,
  ),
  shadow: (
    "light-gray": rgba(197, 197, 197, 1),
    "dark-shadow": rgb(61, 61, 61),
  ),
  hovered: (
    "hdark-blue": hsl(236, 45%, 26%)
  ),
  // gradient: (
  //   //Background gradient - Intro/CTA mobile nav:
  //   "vLightRed":hsl(13, 100%, 72%),
  //   "lightRed":hsl(353, 100%, 62%),

  //   //Background gradient - body:
  //   "vDarkGrayBlue":hsl(237, 17%, 21%),
  //   "vDarkDesBlue": hsl(237, 23%, 32%)
  // )
);
