@use '../../../abstracts/' as *;






.search-bar-container{
    padding: 1rem;

    label{
        font-size:1.1rem;
    }
}

.search-bar{
    border-color: var(--clr-primary-mainBlue);
    padding: .2rem;
}

.edit-modal{

    height: 180px;

    .modal-container{
        
    .btn-rec-purple{
        padding: .5rem;
        width: 120px;
        margin-right: 1rem;
    }

    }
}
.query-button {
  padding: .5rem;
  background-color: var(--clr-primary-mainBlue);
  color: white;
  transition: all ease .5s;
  @include rounded-corners(.5rem, .5rem, 0rem, 0rem);
  &:hover {
    cursor: pointer;
    background-color: var(--clr-primary-secondBlue);
  }
  &.selected {
    background-color: var(--clr-primary-secondBlue);
    color: black;
    font-weight: bold;
    &:hover {
      cursor: default;
    }
  }
}

