@use "../../abstracts" as *;

.make-appointment-wrapper {
  position: relative;
  background-image: linear-gradient(120deg, var(--clr-shadow-dark-shadow) 50%, var(--clr-primary-mainBlue));
  height: 35rem;
}

