@use "../../abstracts" as *;

.footer {
    padding: 4rem 1rem;
    background-image: linear-gradient(180deg, var(--clr-shadow-dark-shadow) 30%, black);
    color: white;

    .footer-items{

        @include break-point("medium","up"){
            flex-direction: row;
            justify-content: space-around;
            
        }

        .footer-item{

            @include break-point("medium","up"){
                width: 30%;
                align-content: center;
                
            }
            .content{
                color:rgb(180, 179, 179);
                @include font($font: "font-2", $size: 1rem);
            }

    
            .footer-title{
                padding-left: 1rem;
                border-left: 3px solid var(--clr-primary-mainPurple);

                span{
                    font-weight: bold;
                    font-size:1.2rem;
                    color: var(--clr-primary-secondPurple);
                    letter-spacing: 2px;
                }

            }
        }

       
    }


}

.social{
    i{
        font-size: 1.2rem;
        transition: color 0.3s ease-in;
        &:hover{
            cursor: pointer;
            color: var(--clr-primary-mainPurple);
        }
    }
}

.fancy{
    letter-spacing: 3px;
    padding-top:3rem;
    span{
        color: var(--clr-accent-logoBlue);
    }
   
   
}
    

