@use "../../../abstracts" as *;

.profile-menu {
  border: 1px solid grey;
  width: 100%;
  @include rounded-corners(0rem, 0.5rem, 0.5rem, 0rem);
  @include break-point("medium", "up") {
    width: 24%;
    max-width: 20rem;
    height: fit-content;
    margin-top: 1rem;
  }

  .profile-option {
    color: black;
    text-align: left;
    padding: 1rem .75rem;
    border-left: 4px grey solid;
    border-bottom: 1px solid rgb(85, 82, 82);
    transition: all ease 0.5s;

    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      cursor: pointer;
      border-left-color: var(--clr-primary-mainBlue);
    }
    &.selected {
      border-left-color: var(--clr-primary-mainPurple);
    }
  }
}